/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END  -------------------------------------------------------- */

/* Code Start------------------------------------------------------------- */

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');
/* Colour pallet Preset */
:root{
    --dark-bg: #1b0b26;
    --light-bg: #eceaf9;
    --vibrant:#8B88F2;
	--spacing10between: .625em;
	--spacing20mobile: 1.25em;
	--spacing40web: 2.5em;
}
/* Default Content Styling */
body{
    background-color: var(--light-bg);
	margin: 0 auto;
}
/* Defining font size properties */
h1{
    color: var(--light-bg);
	font-size: 2.5em;
	font-family: 'Bebas Neue', cursive;
}
h2{
	color:var(--dark-bg);
	font-size: 2em;
	font-family: 'Bebas Neue', cursive;
}
h3{
	color:var(--dark-bg);
	font-size: 1.5em;
	font-family: 'Teko', sans-serif;
}
p{
	font-family:'Ropa Sans', sans-serif;
}
/* Class specific CSS */
.vibrant{
	background-color: var(--vibrant);
}
.centre{
	text-align: center;
}
/* Header properties */
header{
	background-color: var(--dark-bg);
	display: flex;
	justify-content: space-between;
	padding: var(--spacing10between);
}
.logo{
	padding-right: var(--spacing10between);
	padding-left: var(--spacingtwenty);
}
span{
	display: flex;
	align-items: center;
}
/* Default consistent spacing and padding for content */
article{
	padding: var(--spacing20mobile);
}
/* footer defaults */
footer{
	background-color: var(--dark-bg);
}
/* Tablet media quiery */
@media screen and (min-width:768px) and (max-width:960px){

}
/* Desktop media quiery */
@media screen and (min-width:960px){

}